li {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.menu {
  margin-top: 20px;
}

h1 {
  color: gold;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.citylist {
  margin: 0;
  padding: 0;
  display: block;
  align-items: center;
}

.cityListItem {
  text-align: center;
  transition: all 200ms ease-in-out;
  display: inline;
  min-width: 200px;
}
.cityListItem:hover {
  background-color: rgb(151, 205, 244);
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}

.currentDay {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  padding: 0;
}

.cityCountry {
  font-size: 42px;
  font-weight: 800;
}

body {
  font-family: poppins;
  color: #666666;
  text-align: centre;
}

.forecast {
  text-align: center;
  padding-bottom: 5px;
  font-size: 18px;
}

.tempFormat {
  font-size: 14px;
  color: cyan;
  position: relative;
  top: -15px;
}

.tempFormat .active {
  cursor: default;
  color: gold;
  text-decoration: none;
}

.tempFormat .active:hover {
  cursor: default;
}

.container {
  display: block;
  align-self: center;
  text-align: center;
}

.row {
  margin: 10px;
}

.weatherContainer {
  /*background-image: url("./media/Marblebackgroundimage.jpg");*/
  background-image: url("./media/RainbowLeaves.jpg");
  border: transparent;
  border-radius: 25px;
}

#btnCurrentLocation {
  background-color: lightgrey;
  border-radius: 50px;
  border-color: transparent;
  box-shadow: #666666;
}

#searchCityInput {
  max-width: 750px;
}

.rowSearch {
  align-items: center;
}

.card:hover {
  background-color: rgb(151, 205, 244);
}

.currentCityList {
  text-align: left;
  color: gold;
}

#weatherDescription {
  text-transform: capitalize;
}

li::first-letter {
  text-transform: uppercase;
}

#weatherIcon {
  background-color: black;
  border-radius: 50px;
}
